.productImage {
  height: 150px;
  width: 130px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.buttonContainer > button {
  flex: 0 0 25%;
}

.productCard {
  padding-top: 20px;
}
