.productContent {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.productGrid {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.productGridItem {
  flex-basis: calc(20% - 20px);
  margin: 8px;
  margin-bottom: 20px;
}

.productNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productNav h1 {
  margin-left: 10px;
}

.productNav .button-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-right: 10px;
}